@font-face {
    font-family: 'outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  }

@font-face {
font-family: 'young-serif';
src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

:root {
    --dark-charcoal: #312E2C;
    --dark-raspberry: #7A284E;
    --brandy-red: #854632;
    --wenga-brown: #5F564D;
    --eggshell: #F3E5D7;
    --white-coffee: #E3DDD7;
    --snow: #FFF7FB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: outfit, Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--eggshell);
    color: var(--wenga-brown);
}

main {
    background-color: white;
    padding: 2.5rem;
    border-radius: 1.5rem;
    width: 46rem;
    margin: 7.7rem auto;
    display: grid;
    gap: 1rem;
}

img {
    max-height: 18.75rem;
    border-radius: 0.75rem;
}

h1, h2 {
    font-family: young-serif, Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: var(--dark-charcoal)
}

h2 {
    color: var(--brandy-red);
}

h3 {
    color: var(--dark-raspberry);
}

ul, ol {
    list-style-position: inside;
    padding-left: 0.5rem;
}

ol li::marker, h2+ul li::marker {
    color: var(--brandy-red);
}

h3+ul li::marker {
    color: var(--dark-raspberry);
}

ol li::marker {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding-block: 0.9rem;
}

tr {
    border-bottom: 1px solid var(--white-coffee);
}

tr:last-child {
    border-bottom: none;
}

th {
    font-weight: unset;
    padding-left: 2rem;
    width: 51%;
}

td {
    color: var(--brandy-red);
    font-weight: bold;
}