@font-face {
    font-family: 'outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  }

@font-face {
font-family: 'young-serif';
src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: outfit, Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    font-family: young-serif, Georgia, 'Times New Roman', Times, serif;
}